
.listitem {
display: flex;
  width:450px;
  height:auto;
  align-items: center;
  justify-content: center;
  margin: 5px;
  background-color: rgba(0, 0, 0, .9);
  color:white;
  /* backdrop-filter: blur(7px); */
  padding: 5px;
  text-align: center;
  min-width: 200px;
  min-height: 200px;
  flex-direction: column;
  border-radius: 40px;

}


.container {

  display: flex;
  width: 100%;
  height: auto;
  position: relative;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;

}

.name {
  font-family: 'Century Gothic';
  font-size: 130%;
  margin-top: 10px;
}


.username {

  font-size: 132%;
  color: blanchedalmond;
}

.email {

  
  font-size: 90%;
  color: blanchedalmond;
}


.refreshbutton {

width: 40px;
height: 40px;
border-radius: 100%;
border:0;
outline: none;
cursor: pointer;

}

.refreshicon {
margin-top: 4px;
width: 100%;
height: auto;
cursor: pointer;
transition: 600ms linear;
}



@media screen and (max-width:850px) {


  .listitem {
    
    width: 100%;

  }


}
